* {
  box-sizing: border-box;
  border-radius: 5px;
}

.title {
  margin-top: 150px;
  text-align: center;
  color: #fff;
  font-size: 50px;
}

body {
  margin: 0;
  background: #287094;
  background-size: cover;
}

.functions {
  width: 50%;
  margin: 10px;
  height: 270px;
  font-size: xx-large;
  background-color: #f6f6f6;
}

.buttons-form {
  margin-top: 50px;
  height: 80%;
  align-items: center;
}
